{{ define "poupi.telegram.urgency" -}}
{{- if .CommonAnnotations.urgency -}}{{ .CommonAnnotations.urgency -}}
{{- else if eq .CommonLabels.severity "critical" -}}CRITICA
{{- else if eq .CommonLabels.severity "warning" -}}MEDIA
{{- else -}}BAIXA{{- end -}}
{{- end }}

{{ define "poupi.telegram.system" -}}
{{- if .CommonAnnotations.system -}}{{ .CommonAnnotations.system -}}
{{- else if .CommonLabels.service -}}{{ .CommonLabels.service -}}
{{- else if .CommonLabels.job -}}{{ .CommonLabels.job -}}
{{- else -}}Poupi System{{- end -}}
{{- if .CommonLabels.component }} / {{ .CommonLabels.component }}{{- end -}}
{{- if .CommonLabels.runtime }} / {{ .CommonLabels.runtime }}{{- end -}}
{{- end }}

{{ define "poupi.telegram.problem" -}}
{{- if .CommonAnnotations.problem -}}{{ .CommonAnnotations.problem -}}
{{- else if .CommonAnnotations.summary -}}{{ .CommonAnnotations.summary -}}
{{- else -}}{{ .CommonLabels.alertname -}}{{- end -}}
{{- end }}

{{ define "poupi.telegram.evidence" -}}
{{- if .CommonAnnotations.evidence -}}{{ .CommonAnnotations.evidence -}}
{{- else if .CommonAnnotations.description -}}{{ .CommonAnnotations.description -}}
{{- else -}}
{{- range .Alerts -}}
{{- if .Annotations.description }}{{ .Annotations.description }}{{- else if .ValueString }}{{ .ValueString }}{{- end -}}
{{- end -}}
{{- end -}}
{{- end }}

{{ define "poupi.telegram.message" -}}
{{- if eq .Status "resolved" -}}
<b>RECOVERY</b>
{{- else -}}
<b>ALERTA</b>
{{- end }}

<b>Sistema:</b>
{{ template "poupi.telegram.system" . }}

<b>Problema:</b>
{{ template "poupi.telegram.problem" . }}

<b>Impacto:</b>
{{- if .CommonAnnotations.impact }}
{{ .CommonAnnotations.impact }}
{{- else }}
Impacto operacional nao especificado na rule. Verificar causa raiz antes de agir.
{{- end }}

<b>Urgencia:</b>
{{ template "poupi.telegram.urgency" . }}

<b>Acao:</b>
{{- if .CommonAnnotations.action }}
{{ .CommonAnnotations.action }}
{{- else }}
Abrir logs do componente, conferir metricas relacionadas e validar dependencias.
{{- end }}

<b>Evidencia:</b>
{{ template "poupi.telegram.evidence" . }}
{{- range .Alerts }}
{{- if .Labels.instance }}
Instance: {{ .Labels.instance }}
{{- end }}
{{- if .StartsAt }}
Desde: {{ .StartsAt.Format "2006-01-02 15:04:05 UTC" }}
{{- end }}
{{- if and (eq $.Status "resolved") .EndsAt }}
Resolvido: {{ .EndsAt.Format "2006-01-02 15:04:05 UTC" }}
{{- end }}
{{- end }}

<b>Dashboard:</b>
{{- if .CommonAnnotations.dashboard }}
{{ .CommonAnnotations.dashboard }}
{{- else }}
Grafana / Operations
{{- end }}
{{- if gt (len .Alerts) 1 }}

Alertas agrupados: {{ len .Alerts }}
{{- end }}
{{- end }}
